div.dropdown .menu, div.dropdown .userbar {
  position: absolute;
  left: 0px;
  top: 2px;
  visibility: hidden;
}

div.dropdown .userbar .item{
  padding: 2px 5px;
}

div.dropdown .menubar{
	float: left;
	padding: 5px 10px;
	margin: 0px 1px;
	font-weight: bold;
}

div.dropdown a.item {
  	display: block;
}