/* -- style.css -- */
div.karma
{
	background-color: transparent;
	text-align: center;
	border-top: 1px solid #DDDDFF;
	border-left: 1px solid #DDDDFF;
	border-right: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
	padding: 10px;
}

span.digest
{
}

span.index_title{
	float: left;
	border: 0px;
}

span.index_extra{
	float: right;
	padding: 2px;
	border: 0px;
}

div.signature {
	bottom: 10px;
}

div#index_welcome{
	margin: 10px;
	margin-bottom: 10px;
	clear: both;
}
html>body div#index_welcome {
	margin-bottom: 15px;
}

#index_welcome div.title{
	font-size: 18px;
	font-weight: bold;
	border-bottom: dashed 1px;
	padding: 5px;
}

#index_welcome div.desc{
	padding: 5px;
	font-size: 12px;
}

#index_welcome div.visit{
	text-align: right;
	font-size: 11px;
}

#index_forum a{
	font-weight: bold;
}

table.index_category{
	border: 0px;
	margin-top: 10px;
	margin-bottom: 5px;
}

table.index_category td{
	padding: 2px;
}

table.index_category .desc, table.index_category .desc a{
	font-weight: normal !important;
	margin-top: 2px;
	margin-bottom: 0px;
}

#index_forum span.item{
	padding: 0px 5px 0px 5px;
	margin: 0px;
	border: 0px;
}

#index_forum span.extra{
	float: right;
	text-align: left;
	margin: 0px;
}

div#forum_header{
	margin: 5px;
	clear: all;
}
#forum_header div{
	padding-top: 5px;
}

/* -- dropdown menu -- */

div.dropdown{
	float: left;
}

div.dropdown .menu, div.dropdown .userbar{
	font-weight: bold;
	float: left;
	margin: 0px 1px;
	border: 0px !important;
	padding: 0px;
}

div.dropdown .item{
	font-weight: bold;
	padding: 2px 5px;
  	white-space: nowrap;
  	border: 0px !important;
}

div.dropdown ul, div.dropdown table {
	width: 135px;
}
/* -- dropdown menu -- */

/* -- user level -- */
table.userlevel{
	width: 90%;
	border: 0px;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0;
}

table.userlevel td{
	height: 13px;
	padding: 0px;
}

table.userlevel td.end{
	width: 3px;
}

table.userlevel td.end img{
	width: 3px;
	height: 13px;
}

table.userlevel td.center{
	width: 100%;
}

table.userlevel td.center img{
	height: 12px;
}

.outer {border: 2px solid silver;}
.head {background-color:#66CCCC; padding: 5px; font-weight: bold; font-size:16px;}
.even {background-color:#6699CC; padding: 5px; font-size:14px;}
.odd {background-color:#66CC99; padding: 5px; font-size:14px;}
.foot {background-color: #c2cdd6; padding: 5px; font-weight: bold; font-size:11px;}
tr.even td {padding: 5px; background-color:#FFFFCC; border-bottom:1px #333333; border-left:1px #333333; border-right:1px #333333; border-top:1px #333333; }
tr.odd td {padding: 5px; background-color:#FEEDCC; border-bottom:1px #333333; border-left:1px #333333; border-right:1px #333333; border-top:1px #333333; }

#tbl-brdr-tlc 
{
	width:15px;
	height:15px;
	background-image:url(../images/brdr-tlc.png);
	background-repeat:no-repeat;	
}

#tbl-brdr-trc 
{
	width:15px;
	height:15px;
	background-image:url(../images/brdr-trc.png);
	background-repeat:no-repeat;
}

#tbl-brdr-blc 
{
	width:15px;
	height:15px;
	background-image:url(../images/brdr-blc.png);
	background-repeat:no-repeat;	
}

#tbl-brdr-brc 
{
	width:15px;
	height:15px;
	background-image:url(../images/brdr-brc.png);
	background-repeat:no-repeat;
}

#tbl-brdr-top 
{
	height:15px;
	background-image:url(../images/brdr-top.png);
	background-repeat:repeat-x;	
}

#tbl-brdr-bottom
{
	height:15px;
	background-image:url(../images/brdr-bottom.png);
	background-repeat:repeat-x;
}

#tbl-brdr-left 
{
	width:15px;
	background-image:url(../images/brdr-left.png);
	background-repeat:repeat-y;	
}

#tbl-brdr-right 
{
	width:15px;
	background-image:url(../images/brdr-right.png);
	background-repeat:repeat-y;
}